.background{
    background-color: #000000;
    min-height: 100vh;
    color: white;
}

.logo{
    position: absolute;
    /* width: 381px; */
    height: 124px;
    left: 139px;
    top: 136px;

    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 124px;
    /* identical to box height */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#inputID::placeholder {
    color: #ffffff;
    opacity: 1;
}

.header{
    text-align: left;
    position: absolute;
    width: 510px;
    height: 152px;
    left: 140px;
    top: 350px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 76px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dark{
    text-align: left;
    position: absolute;
    width: 381px;
    height: 50px;
    left: 139px;
    top: 519px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #6A6A6A;
}

.button{
    width: 200px;
    height: 60px;
    /* left: 139px;
    top: 608px; */

    font-weight: 700;

    color: white;
    background: linear-gradient(90deg, #4DD4F7 0%, #9090FB 36.46%, #FF6B81 71.35%, #FBDF63 100%);
}

.btn-register{
    width: 200px;
    height: 60px;
    /* left: 300px;
    top: 608px; */

    font-weight: 700;

    color: white;
}

.photo-grid{
    /* left: 600px; */
    width: 10cm;
    /* padding-top: 1mm;
    padding-right: 1mm; */
}